{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="d-flex justify-content-center" style="margin-top:30px;">
  <div class="card" style="width:480px;"><div class="card-body">
    <h4>Change Password</h4>
    <form method="post" action="{{ url_for('change_password') }}">
      <div class="mb-3"><label>Old password</label><input type="password" class="form-control" name="old_password"></div>
      <div class="mb-3"><label>New password</label><input type="password" class="form-control" name="new_password"></div>
      <div class="mb-3"><label>Confirm</label><input type="password" class="form-control" name="confirm_password"></div>
      <button class="btn btn-primary">Change password</button>
    </form>
  </div></div>
</div>
{% endblock %}
